@charset "utf-8";

/* Table Of Contents
----------------------------------------

# General Elements
# body
# layout
# header
# gNav
# pageBody
# content
# sidebar
# footer
# clearfix
# common classes

----------------------------------------*/


/* # General Elements
---------------------------------------------------------------------------- */

a    { color: #000; text-decoration: underline;}
a:hover   { color: #000; text-decoration: none; }


/* # body
---------------------------------------------------------------------------- */

body {
	background-color: #fff;
	color: #000;
	font-size: 85%;
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	line-height: 1.7;
}


/* # header
---------------------------------------------------------------------------- */


div.headerInner {
	margin: 0 auto;
	padding: 20px 1px;
	width: 960px;
}

header h1 {
	float: left;
	padding-top: 4px;
	width: 264px;
}

header ul {
	float: right;
	padding-bottom: 16px; 
	width: auto;
	margin-right:10px;
}

header ul li {
	float: left;
	width: 70px;
}

header ul li img {
	padding-right: 8px; 
	vertical-align: middle;
}


header div.headerElement {
	float: right;
	width: 633px;
}

header div.headerElement p.tel {
	float: left;
	padding: 4px 24px 0 60px;
	width: 219px;
}

header div.headerElement p.contact {
	float: left;
	width: 268px;
}

header div.headerElement p.contact a {
	display: block;
	background: url(../images/btn_contact_o.gif) no-repeat left top;
	height: 33px;
}

header div.headerElement p.contact a:hover img {
	visibility: hidden;
}


/* # gNav
---------------------------------------------------------------------------- */

nav#gNav {
	font-size: 20px;
}

nav#gNav ul{
	display:flex;
	align-items: center;
	background-color: #333333;
	}

nav#gNav ul li{
    display: flex;
    justify-content: center;
	align-items: center;
    margin: 0;
    padding: 0;
	width:100%;
	height:70px;
	border: 2px solid #000000;
	list-style: none;
	}

nav#gNav ul li a{
    display: block;
    padding: 5px;
    color:#fff;
    text-decoration:none;
	}


ul li:hover{
	color:#000;
    background-color: #FFF2CC;
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
}

nav#gNav ul li a:hover{
    color:#000;
	}


/* # footer
---------------------------------------------------------------------------- */


/* 24年6月レスポンシブデザインのため修正------------------ */
nav#fNav {
	font-size: 10px;
}

nav#fNav ul{
	display:flex;
	background-color: #443f67;
	}

nav#fNav ul li{
    display: flex;
    justify-content: center;
	align-items: center;
    margin: 0;
    padding: 0;
	width:100%;
	height:50px;
	border: 2px solid #000000;
	list-style: none;
	}

nav#fNav ul li a{
    display: block;
    padding: 5px;
    color:#fff;
	text-decoration: none;
	}

nav#fNav ul li a:hover{
	color:#000;
	}

nav#fNav ul .service{
	flex-flow: column;/*-縦並び均等配置- */
	line-height: 0.5;
}

nav#fNav ul li:hover{
	color:#000;
    background-color: #FFF2CC;
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
}

footer div.footerElement {
	height: 36px;
	padding: 1% 0;
	background-color: #000;
}

footer div.footerElement p {
	color: #999;
	float: left;
	margin-left:3%;
}

footer div.footerElement ul {
	float: right;
	margin-right:3%;
	width: 160px;
}

footer div.footerElement ul li {
	padding-left: 9px;
	text-align: right;
	width: auto;
}

footer div.footerElement ul li a {
	color: #999;
}


/* # clearfix
---------------------------------------------------------------------------- */
div.headerInner,
header div.headerElement,
nav,
nav ul,
footer div.footerElement {
	zoom: 1;
}

div.headerInner:after,
header div.headerElement:after,
nav:after,
nav ul:after,
footer div.footerElement:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}


/* # common classes
---------------------------------------------------------------------------- */

/* 24年6月レスポンシブデザイン追加
---------------------------------------------------------------------------- */

	/* タブレット用CSS記述 */
@media screen and (max-width:960px) {

	body {
		width : 100%;
		overflow : hidden; 
	 }

	/* headerデザイン */
	div.headerInner {
		width:100%;
		padding: 10px 1px;
		position: relative;
	}
	
	header h1 {
		float: none;
		margin: 0 auto;
		padding: 20px 0 6px 0;
		text-align: center;
	}
	
	header ul {
		float:none;
	    display:flex;
		flex-direction: column;
		position:absolute;
		top:25%;
        right: 5%;
	}
	
	header ul li {
		width:100%;
		font-size: 30px;
	}
	
	header ul li img {
		width:40px;
		padding-right: 6px; 
	}
		
	header div.headerElement {
		float: none;
		width:auto;
		line-height: 1.0;
	}
	
	header div.headerElement p.tel {
		float: none;
		margin: 0 auto;
        padding:2% 30px 2% 0;
		text-align: center;
	}

	header div.headerElement p.tel img{
		width:250px;
	}

	header div.headerElement p.contact {
		float: none;
		margin: 0 auto;
		width: 268px;
	}
	
	header div.headerElement p.contact a {
		display:block;
		margin: 0 auto;
	}

		/* お問い合わせ、スタッフ募集のボタンレイアウト */
	.imgover{
		display: block;
		flex-direction: column;
		margin: 0 auto;
		width:250px;
	}
	
	header div.headerElement p.contact a:hover img {
		visibility: hidden;
	}

	/* gNavレスポンシブデザイン */

	nav#gNav {
		width:100%;
			font-size: 20px;
	    }

    nav#gNav ul{
	    flex-flow: column;
        border-bottom: 1px solid #999;
	    }

    nav#gNav ul li{
    	height:60px;
    	text-align: center;
	    }

	nav#gNav ul .field{
		line-height: 1.3;
	}

	nav#gNav ul .feature{
		line-height: 1.3;
	}	

	/* fNavレスポンシブデザイン */

	nav#fNav ul{
		font-size: 20px;
		flex-flow: column;
		border-bottom: 1px solid #999;
		border-right: 1px solid #999;
		}
	
	nav#fNav ul li{
		height:60px;
		}
	
	nav#fNav ul li a{
		padding:0;
		}

	nav#fNav ul .service{
		flex-flow: column;/*-縦並び均等配置- */
		line-height: 0.8;
	}
	
	nav#fNav ul li:last-child a{
		border-right: none;
		}

	/* footerレスポンシブデザイン */
	footer div.footerElement {
		width: 100%;
		height: 36px;
		background-color: #000;
	    }
    }



    /* スマホ用CSS記述 */
@media screen and (max-width:768px) {
	/* headerデザイン */
	header h1 img{
		width:200px;
	}

	header ul li {
		width:100%;
		font-size: 20px;
	}
	
	header ul li img {
		width:30px;
		padding-right: 6px; 
	}
		
	header div.headerElement {
		float: none;
		width:auto;
		line-height: 1.0;
	}
	
	header div.headerElement p.tel {
		float: none;
		margin: 0 auto;
        padding:2% 0 2% 0;
	}

	header div.headerElement p.tel img{
		width:200px;
	}

	/* お問い合わせ、スタッフ募集のボタンレイアウト */
	.imgover{
		display: block;
		flex-direction: column;
		margin: 0 auto;
		width:200px;
	}

	/* gNavレスポンシブデザイン */
	nav#gNav {
		font-size: 15px;
	    }

    nav#gNav ul li{
    	height:50px;
 	    }

	/* fNavレスポンシブデザイン */
	nav#fNav ul{
		font-size: 15px;
		}
	
	nav#fNav ul li{
		height:50px;
		}
}








	/* スマホ用CSS記述2 */
@media screen and (max-width:500px) {
    body{
		font-size: 70%;
	}

	header h1 img{
		width:150px;
	}

	header ul {
        right: 2%;
	}

	header ul li {
		width:100%;
		font-size: 15px;
	}
	
	header ul li img {
		width:20px;
		padding-right: 6px; 
	}
		
	header div.headerElement {
		line-height: 0.7;
	}
	
	header div.headerElement p.tel {
		float: none;
		margin: 0 auto;
        padding:2% 0 2% 0;
	}

	header div.headerElement p.tel img{
		width:150px;
	}

	/* お問い合わせ、スタッフ募集のボタンレイアウト */
	.imgover{
		display: block;
		flex-direction: column;
		margin: 0 auto;
		width:150px;
	}

	/* gNavレスポンシブデザイン */
	nav#gNav {
		font-size: 10px;
	    }
		
    nav#gNav ul li{
    	height:35px;
 	    }

	/* fNavレスポンシブデザイン */
	 nav#fNav ul{
		font-size: 10px;
		}
	
	nav#fNav ul li{
		height:30px;
		}

	nav#fNav ul .service{
		line-height: 0.6;
	}

	footer div.footerElement p {
		font-size: 10px;
	}

	footer div.footerElement ul {
		font-size: 10px;
	}


}


